html,
body {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #373d4a;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  font-family: Roboto, sans-serif;
}

input,
textarea {
  outline: none;
}

* {
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a,
a:active,
a:focus {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

a:visited,
a:hover {
  text-decoration: none;
}

nav,
footer,
header,
aside {
  display: block;
}

button {
  background-color: inherit;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  margin: 0;
  border: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.drum-button {
  padding: 0.1em 0.25em;
  width: 11em;
  height: 8.2em;
  background-color: #212121;
  border: 0.08em solid #fff;
  border-radius: 0.3em;
  font-size: 12px;
}
.drum-button span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.4em;
  width: 6.95em;
  height: 4.5em;
  background-color: #212121;
  border-radius: 0.2em;
  font-size: 1.5em;
  color: #fff;
  border: 0.08em solid #fff;
  box-shadow: 0 0.4em 0.1em 0.019em #fff;
}
.drum-button span:active {
  transition: all 0.1s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #fff;
}
.drum-button span:not(active) {
  transition: all 0.2s;
}

.drum-machine-contaier {
  max-width: 600px;
  max-height: 100%;
  border: 1px solid #fff;
  padding: 25px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.drum-machine-contaier .button-group {
  border: 1px solid #fff;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.drum-machine-contaier .control-tools {
  width: 100%;
  height: 100%;
  padding: 15px;
  border: 1px solid #fff;
}
.drum-machine-contaier .control-tools .power-tools {
  padding: 8px;
  border: 1px solid #fff;
  width: 180px;
}
.drum-machine-contaier .control-tools .power-tools input[type=checkbox] {
  position: relative;
  z-index: -1;
  opacity: 0;
}
.drum-machine-contaier .control-tools .power-tools input[type=checkbox] + label {
  padding: 0 0 0 60px;
  position: relative;
  cursor: pointer;
}
.drum-machine-contaier .control-tools .power-tools input[type=checkbox] + label:before {
  content: "";
  border: 1px solid #fff;
  box-shadow: 2px 2px 3px #212121;
  position: absolute;
  top: -3px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #fff;
  transition: 0.2s;
}
.drum-machine-contaier .control-tools .power-tools input[type=checkbox] + label:after {
  content: "";
  outline: 1px solid #212121;
  position: absolute;
  top: 0;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #fff;
  transition: 0.2s;
}
.drum-machine-contaier .control-tools .power-tools input[type=checkbox]:checked + label:before {
  background: #212121;
}
.drum-machine-contaier .control-tools .power-tools input[type=checkbox]:checked + label:after {
  left: 26px;
}

/*# sourceMappingURL=index.css.map */
