$white: #fff;
$html-bg-color: #373d4a;
$button-bg: #212121;
$deepBlue-20: #ccced5;
$deepBlue-40: #999eac;
$deepBlue-60: #666d82;
$deepBlue-80: #333d59;
$deepBlue-100: #000c2f;
$deepBlue-120: #000923;
